<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head th:replace="fragment ::html_headtag">
    <meta charset="UTF-8">
    <title>E-mail lista</title>
</head>
<body>
<div th:replace="fragment ::html_header"></div>
<div class="container text-center">
    <a th:href="@{users}">List of Users</a> <a th:href="@{register}">Register</a> <a th:href="@{login}">Login</a>
    <h3>You have signed up successfully!</h3>
    <h4><a th:href="@{login}">Click here to Login</a></h4>
</div>
<div th:replace="fragment ::html_footer"></div>
</body>
</html>