<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head th:replace="fragment ::html_headtag">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:replace="fragment ::html_header"></div>
<div id="main-wrapper" class="container">
    <div id="side-image"></div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="mb-4">
                <h2>Hírek</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">VP6-19.2.1.-49-14-21 LEADER felhívás felfüggesztése</h5>
                            <span class="text-muted create-date">Hozzáadva: 2021.11.05</span>
                            <p>
                                A Kertészek Földje Akciócsoport Egyesület tájékoztatja az ügyfeleit, hogy a <strong>VP6-19.2.1.-49-14-21
                                LEADER felhívás</strong> 2021.08.13-tól felfüggesztésre kerül.
                                <strong>A döntés értelmében pályázatok benyújtására kizárólag 2021.08.12-ig van lehetőség!</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Új LEADER FELHÍVÁS
                            </h5>
                            <span class="text-muted create-date">Hozzáadva: 2021.10.12</span>
                            <p>FIGYELEM!!!</p>
                            <p>A Kertészek Földje Akciócsoport Egyesület új LEADER felhívást VP6-19.2.1.-49-14-21
                                jelentet meg!</p>
                            <p>Jelen felhívásra támogatási kérelmet nyújthatnak be:</p>
                            <p>Korlátolt felelősségű társaság (113), Betéti társaság (117), Egyéni cég (228), Egyéni
                                vállalkozó (231), Egyéb önálló vállalkozó (232), Adószámmal rendelkező magánszemély
                                (233), Családi mezőgazdasági társaság (csmt), Mezőgazdasági őstermelő , Őstermelők
                                családi gazdasága (öcsg)</p>
                            <h5>Támogatható tevékenységek:</h5>
                            <ul>
                                <li>Megújuló energiaforrást hasznosító technológiák kialakítása</li>
                                <li>Épület, építmény felújítása, bővítése, korszerűsítése (nem energiahatékonyság)</li>
                                <li>Épület, építmény, technológiai rendszer felújítása, korszerűsítése
                                    (energiahatékonyság)</li>
                                <li>Új épület, építmény építése</li>
                                <li>Új eszköz(ök), új gép(ek) beszerzése, új technológiai rendszer(ek) kialakítása</li>
                                <li>Jelen felhívás keretében a helyi támogatási kérelem benyújtására 2021.08.02 naptól
                                    2022.11.30 napig van lehetőség. (Forrás kimerülésig)</li>
                            </ul>
                            <p>HACS által támogatni javasolt, a helyi felhívás feltételeinek megfelelő projekteket a
                                projektre megítélt 1 000 000 – 20 000 000 Ft közötti vissza nem térítendő támogatásban
                                részesíti a rendelkezésre álló forrás erejéig.</p>
                            <p>A felhívás és mellékletei elérhetőek itt:</p>
                            <p>https://e-kerelem.mvh.allamkincstar.gov.hu/enter/leaderbongeszo/leaderBongeszo.xhtml</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment ::html_footer"></div>
</body>
</html>
