<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email küldés</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${mailSubmitted}">
    <h1>Eredmény</h1>
    <p th:text="'To: ' + ${mailSubmitted.target}" />
    <p th:text="'message: ' + ${mailSubmitted.message}" />
</div>
<div th:unless="${mailSubmitted}">
    <form action="#" th:action="@{/email/}" th:object="${mail}" method="post">
        <p>Címzett: <input type="text" th:field="*{target}" /></p>
        <p>Üzenet: <input type="text" th:field="*{message}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</div>
</body>
</html>