<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Emailek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Címzett</th>
            <th>Üzenet</th>
            <th>Küldés dátuma</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mail : ${mails}">
            <td>
                <strong th:text="${mail.target}"></strong>
            </td>
            <td>
                <p th:text="${mail.message}"></p>
            </td>
            <td><p th:text="${mail.getDate()}"></p></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>